# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# List dir contents aliases (http://ss64.com/osx/ls.html)
alias ls="ls -G"
alias la="ls -oa"

# web dev stuff
alias s="python -m SimpleHTTPServer"
alias chrm="open /Applications/Google\ Chrome.app 'http://localhost:8000/'"

# database shortcuts
alias msqlon="mysql.server start"
alias msqloff="mysql.server stop"
alias psqlon="pg_ctl -D /usr/local/var/postgres -l logfile start"
alias psqloff="pg_ctl -D /usr/local/var/postgres stop -s -m fast"
alias psqlprocess="ps auxwww | grep postgres"

# be nice
alias please=sudo

# Git Shortcuts
alias g="git"
alias st="git status -s"
alias cm="git commit -m"

# File size
alias fs="stat -f \"%z bytes\""

# internations
alias in="cd ~/Sites/internations.org"
alias sshin="ssh root@internations.local"
